<div class="modal fade" id="experienciaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar experiencia</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <!-- formulario de educación-->
                <form name="experienciaForm"> 
                    <div class="mb-3">
                        <label for="experiencia" class="form-label">Modificar experiencia laboral:</label>
                        <input type="text" class="form-label" id="experiencia" placeholder="Insitucion de experiencia">
                    </div>
                    <div class="mb-3">
                        <label for="experienciaUrl" class="form-label">Modificar url de la experiencia:</label>
                        <input class="form-control" type="url" id="experienciaUrl" placeholder="Url experiencia">
                    </div>
                    <div class="mb-3">
                        <label for="experienciaImg" class="form-label">Modificar logo de instituto o trabajo:</label>
                        <input class="form-control" type="file" id="experienciaImg" > 
                    </div>
                    <div class="mb-3">
                        <label for="experienciaEstudio" class="form-label">Modificar trabajo:</label>
                        <input type="text" class="form-control" id="experienciaEstudio" placeholder="Ingrese nombre">
                    </div>
                    <div class="mb-3">
                        <label for="experienciaPeriodoInicio" class="form-label">Modificar periodo inicio:</label>
                        <input type="date" class="form-control" id="experienciaPeriodoInicio">
                    </div>
                    <div class="mb-3">
                        <label for="experienciaPeriodoFin" class="form-label">Modificar periodo fin:</label>
                        <input type="date" class="form-control" id="experienciaPeriodoFin">
                    </div>
                    <div class="mb-3">
                        <label for="experienciaInfo" class="form-label">Modificar información de experiencias realizado:</label>
                        <textarea class="form-control" id="experienciaInfo" rows="3"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btnLogin btn-primary" data-bs-dismiss="modal">Guardar</button> 
                <button type="submit" class="btn btnCancel btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
