.row{
    padding:1.5rem;

}

div{
    background-color: rgb(244,224,186);
    text-align: center;
}

/*Estilo de fotodeperfil*/
@media (min-width:475px){
    #fotodeperfil{
    position: center;
    width: 70%;
    border-radius:100%;
    left: 2%;
    top: 60px;
}
}
@media (max-width:1275px){
    #fotodeperfil{
    position: center;
    width: 140%;
    border-radius:100%;
    left: 34%;
    top: 950px;
}
}