#banner{  
    height: 300px;
    margin: 0px;
    padding: 0px;
}

#imgBanner{
    display:block;
    margin:auto;
    height: 300px;
    width: 100%;
    max-width: 1600px;
    min-width: 150px;


}
 