<div class="row"> 

    <div class="row pb-4 justify-content-center text-center" data-aos="fade-up">
       <div class="col-lg-8 pb-4">
           <h1>Te interesa contratarme?</h1>
       </div>
 
       <div class="col-lg-8">
         <form action="#" class="row g-lg-3 gy-3">
           <div class="form-group col-md-6">
             <input type="text" class="form-control" placeholder="ingresa tu nombre">
           </div>
           <div class="form-group col-md-6">
             <input type="email" class="form-control" placeholder="ingresa tu correo">
           </div>
           <div class="form-group col-md-12">
             <input type="text" class="form-control" placeholder="ingresa el asunto">
           </div>
           <div class="form-group col-12">
             <textarea name="" rows="4" class="form-control" placeholder="ingresá tu mensaje"></textarea>
           </div>
           <div class="form-group col-12 d-grid" >
             <button  type="submit" class="btn btn-brand-primary">contactarme</button>
           </div>
         </form>
       </div>
   </div>
 
 </div>
