.row{
    padding:1.5rem;

}
#imgPerfil{
    width: 7px;
    height: 5px;
    margin-left: 2cm;
}
.nombre{
    position: center;
    font-size: 40px;
    font-style:tahoma ;
}

.puesto{
    font-size: 18px;
    font-style:tahoma;
}

#datos{
    font-weight: bold;
    
}

div{
    background-color: rgb(244,224,186);
    text-align: center;
}

/*Estilo de fotodeperfil*/
@media (min-width:475px){
    #fotodeperfil{
    position: center;
    padding: 3px;
    margin: 0, auto;
    width: 50%;
    border-radius:100%;
    object-fit: cover;
    left: 2%;
   
}
#datos{
    
    margin-top:40px;
    margin-left:25px;
    text-align: left;
}
}
@media (max-width:1275px){
    #fotodeperfil{
    position: center;
    padding: 3px;
    margin: 0 auto;
    width: 80%;
    border-radius:100%;
    object-fit: cover;
    left: 34%;

}
#datos{
    
    margin-top:40px;
    margin-left:25px;
    text-align: left;
}
}