<div id="experiencia" class="row">
    <h2>Mis Proyectos</h2>
      <div class="row gy-4">
        <div class="col-md-6">
          <div class="card-custom rounded-4 bg-base shadow-effect">
            <div class="card-custom-image rounded-4">
              <img class="rounded-4" src="assets/images/4.jpg" alt="" />
            </div>
            <div class="card-custom-content p-4">
              <h4>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Officia beatae perspiciatis natus amet, excepturi laborum
                tenetur ea incidunt soluta odio! Omnis ducimus eaque
                aspernatur quam saepe minima voluptatum excepturi tenetur.
              </h4>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
              <a href="" class="link-custom">leer más</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card-custom rounded-4 bg-base shadow-effect">
            <div class="card-custom-image rounded-4">
              <img class="rounded-4" src="assets/images/4.jpg" alt="" />
            </div>
            <div class="card-custom-content p-4">
              <h4>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Officia beatae perspiciatis natus amet, excepturi laborum
                tenetur ea incidunt soluta odio! Omnis ducimus eaque
                aspernatur quam saepe minima voluptatum excepturi tenetur.
              </h4>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
              <a href="" class="link-custom">leer más</a>
            </div>
          </div>
        </div>
      </div>
    </div>
