.row{
    margin-block-end: none;
}
.navbar{
    --bs-navbar-toggler-border-color: 0 0 0 0;
}
.redes{
    text-align: center;
}
ul li{
    list-style-type: none;
    float: right;
}
.logoArgentinaPrograma{
    width: 150px;
    filter: invert(1);
}

